/JavaApplication/nbproject/private/
/JavaProgramming/nbproject/private/
/JavaFXProgramming/nbproject/private/
/JavaIoProgramming/nbproject/private/
/WebApplication/nbproject/private/
/WebApplication/build/
/Project1/nbproject/private/
/Project1/build/
/JavaProgramming/build/
/Project/nbproject/private/
/Project/build/
/WebApplication/dist/
/Project/dist/
/Project2/nbproject/private/
/Project2/build/
/Project2/dist/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/MidTermProject/nbproject/private/
/MidTermProject/build/
/MidTermProject/dist/
/RPI-LCD-JavaProgramming/nbproject/private/
/RPi-LCD-JavaProgramming/nbproject/private/
/RPi-LCD-JavaProgramming/build/
/RPi-LCD-JavaProgramming/dist/
/RPi-LCD-JavaFXProgramming/nbproject/private/
/RPi-LCD-JavaFXProgramming/build/
/RPi-LCD-JavaFXProgramming/dist/
/Test/nbproject/private/
/Test/build/
/Test/dist/
/CallTest/nbproject/private/
/CallTest/build/
/CallTest/dist/
/ReProject/nbproject/private/
/ReProject/dist/
/ReProject/build/
/ProjectFinal/nbproject/private/
/ProjectFinal/build/
/ProjectFinal/dist/
/test/nbproject/private/
/test/build/
/JavaFXProgramming/dist/
/JavaApplication14/nbproject/private/
/Project1/src/mainDisplay/JavaApplication15/nbproject/private/
/ProjectFinal_1/nbproject/private/
/ProjectFinal_1/build/
/ProjectFinal_1/dist/
/Hardware/nbproject/private/
/Hardware/build/
/Hardware/dist/
/Network/nbproject/private/
/Network/build/
/Network/dist/
/SensingCarLocalWebControl/target/
/SensingCar/nbproject/private/
/SensingCar/build/
/SensingCar/dist/
/SensingCarRaspiWebControl/nbproject/private/
/SensingCarRaspiWebControl/build/
/SensingCarRaspiWebControl/dist/
/SensingCarFXControl/nbproject/private/
/SensingCarFXControl/build/
/SensingCarFXControl/dist/
/SensingCarFXProject/nbproject/private/
/SmartHomeJavaFXProject/nbproject/private/
/SensingCarWebProject/target/
/SmartHomeJavaFXProject/build/
/SensingCarFXProject/build/
/SensingCarFXProject/dist/
/Test/JavaApplication16/nbproject/private/
/Test/TestProject/nbproject/private/
/SmartMirrorTest/nbproject/private/
/ShellTest/nbproject/private/
/ShellTest/build/
/ShellTest/dist/
/SmartHomeJavaFXProject/dist/