<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/main/**"/>
			<bean class="com.mycompany.myapp.util.LoginCheckInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- Connection Pool(DataSource) -->
	<bean name="dataSource"
		  class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="oracle.jdbc.OracleDriver"/>
		<property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
		<property name="user" value="photoboard"/>
		<property name="password" value="iot12345"/>
		<property name="maxPoolSize" value="1"/>
		<property name="initialPoolSize" value="1"/>
		<property name="acquireIncrement" value="1"/>
		<property name="minPoolSize" value="1"/>
	</bean>
	
	<!-- JDBC Template 설정 -->
	<bean name="jdbcTemplate"
		  class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>  
	</bean>
</beans>
