.txtInput:focused{
    -fx-border-color: #FF0000;
    -fx-background-color: yellow;
}

#btn1:hover {
    -fx-border-color: #FF0000;
    -fx-background-color: yellow;
}

#btn1:pressed {
    -fx-border-color: #FF0AA0;
    -fx-background-color: #AB14AE;
}