#currentWeather {
	color: white;
	font-size: 2vw;
	vertical-align: middle;
}

#weekdaysWeather {
	color: white;
}

#weatherLocation {
	color: white;
	font-size: 3vw;
	margin: 0px;
}

#weatherHeader {
	font-size: 1.2vw;
	color: white;
}

#icon {
	display: inline;
}

#temperature {
	display: inline;
	font-size: 2.5vw;
}

#summary {
	font-size: 2.5vw;
}